<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<targets>
		<target xsi:type="Console" name="ConsoleTarget">
			<layout>${longdate}|${level}|${logger}|${message}|${all-event-properties}</layout>
		</target>
		<target xsi:type="File"
				name="file"
				fileName="D:\Repos\AWSDI\Log\log.txt"
				archiveFileName="log.{#}.txt"
				archiveNumbering="Date"
				archiveEvery="Day"
				archiveDateFormat="yyyyMMdd" 
				layout="${longdate}|${level}|${logger}|${message}|${all-event-properties}"
				/>
	</targets>

	<rules>
		<logger name="*" minlevel="Trace" writeTo="file" />
		<logger name="*" minlevel="Trace" writeTo="ConsoleTarget" />
	</rules>
</nlog>